{
    "root": true,
    "env": {
        "es2020": true,
        "node": true,
        "mocha": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions":  {
        "project": "tsconfig.json",
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "airbnb-base",
        "airbnb-typescript/base",
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended-type-checked",
        "plugin:@typescript-eslint/stylistic-type-checked"
    ]
}